name: Automated Dependabot patch release

on:
  schedule:
    # Run every monday at 4:30 UTC = 13:30 JST
    - cron: '30 4 * * 1'

jobs:
  auto_patch_release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Generate a token
      id: generate-token
      uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
      with:
        app-id: ${{ vars.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}
    - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
    - run: |
        cd ./tools/autotagpatch
        go run .
      env: 
        GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
