name: Automated Dependabot patch release

on:
  schedule:
    # Run every monday at 4:30 UTC = 13:30 JST
    - cron: '30 4 * * 1'

jobs:
  auto_patch_release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Generate a token
      id: generate-token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      with:
        app-id: ${{ vars.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
    - run: |
        cd ./tools/autotagpatch
        go run .
      env: 
        GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
